body {
	direction: rtl;
	margin: 0;
	font-family: 'David Libre', 'David', 'Noto Serif Hebrew', serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #fafaf9;
}

html {
	direction: rtl;
}

* {
	box-sizing: border-box;
}
